body {
    margin: 0;
}

.container {
    display: grid;
    justify-content: stretch;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 500px 400px 400px;
}

header {
    background-color: yellow;
    text-align: center;
    grid-column: 1 / 7;
}

header p {
    position: relative;
    top: 30%;
    color: white;
    font-size: 80px;
    font-family: arial;
}

#right_side1 {
    grid-area: 2 / 4 / 3 / 7;
    background-color: blue;
}

#right_side2 {
    grid-area: 3 / 4 / 4 / 7;
    background-color: red;
}

#left {
    background-color: green;
    grid-area: 2 / 1 / 4 / 4;
}
