#home {
  color: white;
  font-family: Helvetica;
  background-image: url(BG.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  padding: 300px
}

nav {
  text-align: center;
  background-color: #ff9999;
  position: fixed;
  width: 100%;

}

.nav-wrapper{
  top: 0;
  position: fixed;
  right: 0;
}

.nav-wrapper li{
  display: inline; /*goes next to each other */
  padding: 40px; /*spreads apart text in nav bar */
}

.nav-wrapper a {
  color: red;
  text-decoration: none;

}

.nav-wrapper a:hover {
  background-color: white;
}

#home h1 {
  text-shadow: 2px 2px #ff0000;
  text-align: center;

}
#home p{
  text-shadow: 2px 2px #ff0000;
  text-align: center;
}

#eastcoast {
  background-color: #ffb2b2;
  height: 600px;
  padding: 10px;
}

#eastcoast img{

  padding-left: 25%;
}

#text {
  display: block;
  font-size: 25px;
  width: 600px;
  padding-top: 50px;
  padding-left: 29%;

}

h2 {
  color: white;
  font-family: Helvetica;
}

#westcoast {
  overflow: hidden;
  height:650px;
  background-color: #ffcccc;
  text-align: center;
  padding-top: 50px;
}

/*slide show tutorial used: https://www.youtube.com/watch?v=pGHOaY4dhAA*/

#westcoast figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s westcoast infinite;
}

#westcoast figure img {
  width: 20%;
  float: left;

}

@keyframes westcoast {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left: -400%; /*fifth image slide */
  }
}

/* end tutorial*/
