html {
  height: 100%;
  overflow: hidden;

}

/*Followed this tutorial for Parallax effect: https://www.youtube.com/watch?v=6CQ7DYni7Bg*/
body {
  color: white;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Helvetica;

}

header{
  box-sizing: border-box;
  min-height: 100vh;
  padding: 30vw 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100vw;
}

header h1 {
  margin-top: -100px;
}

header. header:before {
  background: 50% 50% / cover;
}

header::before{
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-image: url(BG.jpg);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

header * {
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
  padding: 1em 0;

}

/*end tutorial */

nav {
  text-align: center;
  background-color: #ff9999;
  position: fixed;
  width: 100%;

}

.nav-wrapper{
  top: 0;
  position: fixed;
  right: 0;
  -webkit-transform: translateZ(0) /*there's a bug apparently with using translateZ that affects the fixed property function in chrome, which I used for the parallax...
  I tried inserting this code to fix it but it still doesn't work :-( */
}

.nav-wrapper li{
  display: inline; /*goes next to each other */
  padding: 40px; /*spreads apart text in nav bar */
}

.nav-wrapper a {
  color: red;
  text-decoration: none;

}

.nav-wrapper a:hover {
  background-color: white;
}

#home h1 {
  text-shadow: 2px 2px #ff0000;

}
#home p{
  text-shadow: 2px 2px #ff0000;
}

#eastcoast {
  background-color: #ffb2b2;
  height: 80%;
}

#eastcoast img{
  padding-top: 30px;
  padding-left: 25%;
}

#text {
  display: block;
  font-size: 25px;
  width: 600px;
  padding-top: 100px;
  padding-left: 29%;

}



#westcoast {
  overflow: hidden;
  height: 80%;
  background-color: #ffcccc;
  padding: 80px 0px 0px 0px;
  text-align: center;
}

/*slide show tutorial used: https://www.youtube.com/watch?v=pGHOaY4dhAA*/

#westcoast figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s westcoast infinite;
}

#westcoast figure img {
  width: 20%;
  float: left;

}

@keyframes westcoast {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left: -400%; /*fifth image slide */
  }
}

/* end tutorial*/
